body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.head{
    font-weight: bold;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 80vh;
    flex-direction: column;
    border-radius: 100%;
    border:3px solid white;
}

.h{
    word-wrap: break-word;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.btn{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.main{
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    flex-grow: 1;
}


html {
    margin: 0;
    display: ;
}

.pg-title {
    color: #ffffff;
    text-align: center;
}

.pg-title:hover {
    transition: transform 0.4s;
    transform: scale(1.02);
}

.ach-SCOPE {
    padding: 3% 8%;
    min-height:3100px;
}

.ach-SCOPE-1 {
    padding: 3% 8%;
    min-height:1800px;
}


.pop-up {
    width: 60%;
    height: 70%;
    background-color: #38c116;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    /* right: 50%; */
    bottom: -50%;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    text-align: center;
    padding: 3% 0.5% 1%;
    border: 2px solid black;
    color: #fff;
    transition: transform 0.4s;
}

.open-popup {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    z-index: 1;
}

.visible {
    /* visibility: visible; */
    display: block;
}

.hidden {
    /* visibility: hidden; */
    display: none;
}

.content {
    visibility: visible;
}

.content-1, content-2, content-3 {
    /* visibility: hidden; */
}

.close-button {
    position: absolute;
    top: 4%;
    right: 2%;
    float: right;
    border-radius: 50%;
}

.ach-row {

}

.ach-col {
    position: relative;
    background-color: #64e3fd;
    border: 2px solid #9aff93;
    /* padding: 0 20px; */
    padding: 2% 1%;
    /* width: 31%; */
    width: 220px;
    height: 255px;
    float: left;
    margin: 3% 1.3%;
    border-radius: 20px;
}

.ach-col:hover {
    box-shadow: 1px 2px 5px #46ff2eb0;
    transition: transform 0.2s;
    background-color: darkblue;
    color: white;
    transform: scale(1.15);
}

.active-ach {
    color: #ffffff;
    font-size: 14px;
    background-color: #301c57;
}

.ach-name {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.date {
    position: absolute;
    /* align-items: center; */
    font-weight: 500;
    font-size: 16px;
    /* text-align: center; */
    left: 45%;
    bottom: 20%;
    /* padding-top: 15%; */
}

.see-more-button {
    position: absolute;
    /* left: 30%; */
    bottom: 7%;
    margin-left: 24%;
    /* margin-top: 10%; */
    background-color: #4b0ace;
    border-radius: 8px;
    height: 26px;
    width: 90px;
    border-color: #ffa71000;
    /* margin-top: 10%; */
    padding-bottom: 25px;
}

.see-more-button:hover{
    background-color: #ffa710;
    transition: transform 0.2s;
    transform: scale(1.05);
}

.see-more-text {
    color: #ffffff;
    font-size: 10px;
    /* font-weight: 600; */
    letter-spacing: 1px;
}



/*Footer*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: 'roboto';
    src: url('../assets/Fonts/Roboto-Regular.ttf') format('tff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

footer {
    background-color: #272121;
    color: white;
    font-family: 'roboto' !important;
}

footer li {
    list-style-type: none;
}

footer ul.footer-container {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.footer-body-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.footer-socials-wrapper {
    width: 50%;
    margin: 0;
    padding: 0;
}

.footer-banner img {
    padding: 1em;
}

.footer-banner {
    font-family: 'roboto';
    font-weight: 900;
    display: flex;
}

.footer-banner #vit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
}

.footer-socials ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-socials li {
    display: inline-block;
    padding: 1.3em;
}

.footer-links {
    display: inline-block;
    font-family: roboto;
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:0.4rem;
}

.footer-links a{
    text-decoration: none;
    color: white;
}


.footer-link{
    padding: 1%;
    font-family: roboto;
    font-weight: 500;
}

.footer-links .comm {
    padding: 0.1em;
    font-family: roboto;
    font-weight: 500;
}

.outro {
    text-align: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 300;
    padding-top: 0.5em;
    font-family: roboto;
    font-weight: 500;
}

#insta{
    width: auto;
    height: 3.4em;
}

#fb{
    width: auto;
    height: 3.4em;
}

#twitter{
    width: auto;
    height: 3.4em;
}

#linkedin{
    width: auto;
    height: 3.4em;
}

@media screen and (max-aspect-ratio: 1/1) {
    #about {
        background-size: 0;
    }

    .footer-banner img {
        padding: 0em;
        padding-left: 0.5em;
    }

    .footer-banner #hc {
        display: inline-block;
        padding: 0.35em;
        margin-bottom: 0.4em;
        font-size: 34px;
    }

    .footer-socials li {
        display: inline-block;
        padding: 0.5em;
    }

    .footer-links {
        padding: 0.5em;
        margin: 0.5em;
    }

    .footer-socials-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: none;
    }

    footer>ul.container {
        flex-direction: column-reverse;
    }

    .footer-banner {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-socials {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer>ul.container>.footer-socials-wrapper {
        width: 90%;
    }
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .head{
        height: 40vh;
        width: 40vh;
    }

    .ach-SCOPE {
        padding: 3% 8%;
        min-height: 470em;
    }
}