html {
    margin: 0;
    display: ;
}

.ach-col {
    background-color: #64c0fd;
    border: 2px solid #9aff93;
    /* padding: 0 20px; */
    padding: 2% 1%;
    /* width: 31%; */
    width: 220px;
    height: 255px;
    float: left;
    margin: 2% 0.5% 2% 0.5%;
    border-radius: 20px;
}

.ach-col:hover {
    box-shadow: 1px 2px 5px #46ff2eb0;
    transition: transform 0.2s;
    transform: scale(1.02);
}

.active-ach {
    color: #ffffff;
    font-size: 14px;
    background-color: #301c57;
}

.ach-name {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.date {
    /* position: relative; */
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    padding-top: 15%;
}

.see-more-button {
    /* position: relative;
    left: 30%; */
    margin-left: 30%;
    margin-top: 10%;
    background-color: #4b0ace;
    border-radius: 8px;
    height: 26px;
    width: 76px;
    border-color: #ffa71000;
    /* margin-top: 10%; */
    padding-bottom: 25px;
}

.see-more-text {
    color: #ffffff;
    font-size: 10px;
    /* font-weight: 600; */
    letter-spacing: 1px;
}



